:root {
    --title-text-color: #212121;
    --paragraph-text-color: #757575;
    --accent-text-color: #2196f3;
    --text-white-color: #ffffff;
    --logo-color: #000000;
    --contacts-text-color: rgba(255, 255, 255, 0.6);
    --black-background-color: #2f303a;
    --gray-background-color: #f5f4fa;
    --button-hover: #188ce8;
    --form-input-border-color: rgba(33, 33, 33, 0.2);
  }

  